@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing:border-box;
}

body{
  margin: 0;
  font-family:'Open Sans', sans-serif;
  background-color: #EEE;
}